.cards-holder {
    display : flex;
    text-align: justify;
    flex-wrap: wrap;
}

.card {
    flex-direction: row;
    width : 30%;
    border : 2px double tomato;
    margin: 10px;
    padding: 10px;
}